.aboutContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.firstSection {
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.aboutContainer h1 {
  text-align: left;
  font-size: 30px;
}

.description {
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.description article {
  background: rgb(46, 154, 255);
  background: linear-gradient(
    90deg,
    rgba(46, 154, 255, 1) 0%,
    rgba(46, 154, 255, 1) 32%,
    rgba(46, 154, 255, 1) 60%,
    rgba(0, 212, 255, 0) 87%
  );
  width: 100%;
  height: 60vh;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.description img {
  position: relative;
  z-index: 0;
  width: 50%;
  object-fit: cover;
}

.ourMission h2,
.ourMission p,
.description h1,
.description p {
  font-size: 34px;
  margin-left: 10%;
  color: #fff;
}

.ourMission p,
.description p {
  text-align: justify;
  font-size: 16px;
  width: 47%;
  color: #fff;
  margin-top: 1rem;
}

.mainContent {
  display: flex;
  flex-direction: row-reverse;
}

.mainContent .ourLocation {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.mainContent .ourLocation p {
  width: 50%;
}

/* Area do google Maps  */
.mapsContainer {
  width: 100%;
  height: 70vh;
}

.ourMission {
  height: 60vh;
  display: flex;
  justify-content: space-between;
}

.ourMission div {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(46, 154, 255);
  background: linear-gradient(
    90deg,
    rgba(46, 154, 255, 1) 0%,
    rgba(46, 154, 255, 1) 32%,
    rgba(46, 154, 255, 1) 60%,
    rgba(0, 212, 255, 0) 87%
  );
  width: 100%;
  position: absolute;
  z-index: 1;
}

.ourMission h2:nth-of-type(2) {
  margin-top: 2rem;
}

.ourMission p {
  text-align: justify;
  width: 47%;
}

.contactUs {
  height: 85vh;
  padding: 3% 0;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactUs .contactText {
  height: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.contactUs .contactText span {
  box-shadow: rgba(0, 0, 0, 0.322) 0px 1px 2px 0.01rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactUs .contactText div {
  text-align: center;
}

.formContainer {
  margin: 15px 0px;
  width: 30rem;
  height: 100%;
  gap: 1rem;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.formContainer div {
  display: flex;
  flex-direction: column;
}

.formContainer div input,
.formContainer div textarea {
  border: none;
  width: 20rem;
  padding-left: 0.3rem;
  height: 2rem;
  background-color: #fff;
  font-size: 16px;
}

.formContainer div textarea {
  height: 8rem;
  resize: none;
}

.formContainer .firstdiv {
  margin-top: 10px;
}

.formContainer button {
  margin-bottom: 10px;
  width: 20rem;
}

/* area das fotos dos participantes  */
.teamSection {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.teamSection .alignCards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  width: 50%;
  height: 80vh;
  position: absolute;
  z-index: 2;
  color: #fff;
  background: rgb(46, 154, 255);
  background: linear-gradient(
    90deg,
    rgba(46, 154, 255, 1) 0%,
    rgba(46, 154, 255, 1) 32%,
    rgba(46, 154, 255, 1) 60%,
    rgba(0, 212, 255, 0) 87%
  );
  width: 100%;
}

.alignCards h2 {
  margin: 2rem 0 0 10%;
  font-size: 22px;
  color: #fff;
}

.teamSection img {
  width: 50%;
  object-fit: cover;
}

.carouselTeam {
  width: 50%;
  margin-left: 10%;
}

@media screen and (min-width: 320px) {
  .firstSection {
    height: 60vh;
    display: flex;
  }
  
  .firstSection img {
    height: 60vh;
  }

  .aboutContainer h1,
  .ourMission h2,
  .teamSection h2,
  .ourLocation h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  .ourMission p,
  .description p {
    font-size: 12px;
    width: 80%;
    margin-top: 0;
  }

  .mainContent {
    flex-direction: column-reverse;
  }

  .mainContent .ourLocation {
    width: 90%;
    margin: 1rem auto;
  }

  .mapsContainer {
    width: 100%;
    height: 30vh;
  }

  .ourMission img {
    width: 100%;
    object-fit: cover;
  }
    
  .contactUs {
    width: 95%;
    height: 100%;
    padding: 3% 0;
    gap: 0;
    flex-direction: column;
    margin: 0 auto;
  }

  .contactUs .contactText {
    height: 100%;
    gap: .5rem;
  }

  .formContainer {
    width: 90%;
    margin: 1rem auto;
  }

  .formContainer div input,
  .formContainer div textarea {
    width: 90%;
    height: 2rem;
    margin: 0 auto;
    background-color: #fff;
    font-size: 16px;
  }
  
  .formContainer div textarea {
    height: 8rem;
    resize: none;
  }

  .formContainer button {
    margin-bottom: 10px;
    width: 90%;
  }

  .carouselTeam {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 460px) {
  .aboutContainer h1,
  .ourMission h2,
  .teamSection h2,
  .ourLocation h3 {
    font-size: 1.7rem;
    margin-bottom: .5rem;
  }

  .ourMission p,
  .description p {
    font-size: 14px;
    width: 80%;
    margin-top: 0;
  }

  .formContainer {
    width: 70%;
    margin: 1rem auto;
  }

  .teamSection h2 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: .5rem;
  }
 
  .teamSection img {
    height: 100%;
    object-fit: cover;
  }

  .carouselTeam {
    width: 50%;
    height: 10rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 580px) {
  .mapsContainer {
    width: 100%;
    height: 50vh;
  }
  
  .mainContent .ourLocation {
    width: 70%; 
  }

  .formContainer {
    width: 25rem;
  }

  .carouselTeam {
    width: 18rem;
    margin-left: 10%;
  }
}

@media screen and (min-width: 900px) {
  .ourMission p,
  .description p {
    font-size: 16px;
    width: 70%;
    margin-top: 0;
  }

  .ourMission h2,
  .description h1 {
    font-size: 2rem;
    color: #fff;
  }
  
  .mapsContainer {
    width: 100%;
    height: 60vh;
  }
  
  .mainContent .ourLocation {
    width: 70%; 
  }

  .contactUs {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
  }

  .contactUs .contactText {
    width: 25rem;
    height: 100%;
    gap: 1.5rem;
    margin: 1rem auto 0;
  }

  .teamSection h2 {
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
    margin: 1rem auto;
  }

  .formContainer {
    width: 25rem;
  }

  .formContainer div input,
  .formContainer div textarea {
    width: 20rem;
    margin: 0 auto;
    background-color: #fff;
    font-size: 16px;
  }

  .carouselTeam {
    width: 35rem;
    margin-left: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .ourMission p,
  .description p {
    font-size: 16px;
    width: 60%;
  }

  .ourMission h2,
  .description h1 {
    font-size: 2rem;
  }
  
  .mapsContainer {
    width: 100%;
    height: 60vh;
  }
  
  .mainContent .ourLocation {
    width: 70%; 
  }

  .contactUs {
    width: 90%;
    height: 100%;
    padding: 0;
    gap: 0;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
  }

  .contactUs .contactText {
    height: 100%;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .teamSection h2 {
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
    margin: 1rem auto;
  }

  .formContainer {
    width: 25rem;
  }

  .formContainer div input,
  .formContainer div textarea {
    width: 20rem;
    margin: 0 auto;
    background-color: #fff;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .ourMission p,
  .description p {
    width: 50%;
  }

  .ourMission h2,
  .description h1 {
    font-size: 2.5rem;
  }
  
  .mainContent {
    flex-direction: row-reverse;
  }
  
  .mainContent .ourLocation {
    width: 70%;
  }

  .mainContent .ourLocation h3{
    width: 80%;
  }

  .teamSection h2 {
    font-size: 2rem;
    width: 70%;
    margin: 1rem auto;
  }

  .formContainer div input,
  .formContainer div textarea {
    width: 20rem;
    margin: 0 auto;
    background-color: #fff;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .ourMission p,
  .description p {
    width: 50%;
    font-size: 20px;
  }

  .ourMission h2,
  .description h1 {
    font-size: 4rem;
  }
  
}