.aboutContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.aboutContainer .firstSection {
    height: 95vh;
    width: 80%;
    margin: 3rem auto 0 auto;
    display: flex;
    align-items: flex-start;
}

.aboutContainer h1 {
    text-align: left;
    font-size: 34px;
}

.aboutContainer .description {
    margin-top: 14px;
    width: 90%;
    height: 10rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: justify;
}

.formContainer {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formContainer div {
    display: flex;
    flex-direction: column;
}

.formContainer div input, 
.formContainer div select {
    border: none;
    width: 17rem;
    height: 28px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.formContainer div textarea{
    border: none;
    border-radius: 5px;
    height: 10rem;
    resize: none;
    background-color: #f1f1f1;
    width: 17rem;
}

.formContainer button {
    width: 65%;
    margin: 0 auto;
}

.mapsContainer {
    width: 90%;
    height: 22rem;
}

.secondSection {
    margin-top: 2rem;
    width: 80%;
    margin: 3rem auto 0 auto;
}

.secondSection .alignCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    color: #1B71B7;
}
