.aboutContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.aboutContainer .firstSection {
    height: 95vh;
    width: 80%;
    margin: 3rem auto 0 auto;
    display: flex;
    align-items: flex-start;
}

.aboutContainer h1 {
    text-align: left;
    font-size: 34px;
}

.aboutContainer .description {
    margin-top: 14px;
    width: 90%;
    height: 10rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: justify;
}

.formContainer {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formContainer div {
    display: flex;
    flex-direction: column;
}

.formContainer div input, 
.formContainer div select {
    border: solid 1px black;
    width: 17rem;
    height: 28px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.formContainer div textarea{
    border: solid 1px black;
    border-radius: 5px;
    height: 10rem;
    resize: none;
    background-color: #f1f1f1;
    width: 17rem;
}

.formContainer button {
    width: 65%;
    margin: 0 auto;
}

.mapsContainer {
    width: 90%;
    height: 22rem;
}

.secondSection {
    margin-top: 2rem;
    width: 80%;
    margin: 3rem auto 0 auto;
}

.secondSection .alignCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    color: #1B71B7;
}

@media screen and (max-width:375px){

    .firstSection h1{
        font-size: 1.5rem;
    }
    
    .description{
        font-size: 9px;
    }
    .formContainer div{
        
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: wrap;
    }

    .formContainer{
        margin-top: 30rem;
        margin-left: -20rem;
        width: 60.85rem;
        height: 30rem;

    }

     .formContainer h2{
        text-align: center;
       font-size: 1.1rem;
        align-items: center;

    }
    .formContainer label{
      display: flex;
      font-size: 0.75rem;
      justify-content: center;
    }

    .formContainer div input, 
    .formContainer div select{
       display: flex;
       flex-wrap: wrap;
       width: 15rem;
       height: 2rem;
    }

    .formContainer div textarea{
        margin-top: 0.25rem;
        width: 15rem;
        height: 4rem;
        font-size: 0.95rem;
    }
    .formContainer button {
        width: 10rem;
        height: 3.50rem;
        margin: 0.55rem;

    }

    .tituloMap{
      flex-direction: column;
        margin-top: 1rem;
        font-size: 0.70rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .mapsContainer{
        width: 20rem;
        height: 11rem;
    }

    .mapEndereco{
        margin-top: 0.55rem;
        font-size: 0.75rem;
    }

    .secondText{
       margin-top: 23rem;
        font-size: 0.98rem;
    }

}


@media screen and (width: 580px) {
    
    
    .firstSection h1{
        font-size: 1.5rem;
    }
    
    .description{
        font-size: 11px;
    }

    .tituloMap{
        flex-direction: column;
          margin-top: 1rem;
          font-size: 1remrem;
          flex-wrap: wrap;
          margin-bottom: 1rem;
      }
      .mapsContainer{
          width: 30rem;
          height: 20rem;
      }
  
      .mapEndereco{
          margin-top: 0.55rem;
          font-size: 0.75rem;
      }
  
    .formContainer div{
        
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: wrap;
    }

    
    
    .formContainer{
        margin-top: 40rem;
        margin-left: -35rem;
        width: 60.85rem;
        height: 30rem;

    }

     .formContainer h2{
        text-align: center;
       font-size: 1.1rem;
        align-items: center;

    }
    .formContainer label{
      display: flex;
      font-size: 0.95rem;
      justify-content: center;
    }

    .formContainer div input, 
    .formContainer div select{
       display: flex;
       flex-wrap: wrap;
       width: 25rem;
       height: 2rem;
    }

    .formContainer div textarea{
        margin-top: 0.25rem;
        width: 25rem;
        height: 8rem;
        font-size: 0.95rem;
    }
    .formContainer button {
        width: 15rem;
        height: 3.50rem;
        margin: 0.55rem;

    }

    
    .secondText{
        margin-top: 40rem;
         font-size: 2remrem;
     }

}



@media screen and (width: 720px) {
    
    
    .firstSection h1{
        font-size: 2rem;
    }
    
    .description{
        font-size: 11px;
    }

    .tituloMap{
        flex-direction: column;
          margin-top: 2rem;
          font-size: 1remrem;
          flex-wrap: wrap;
          margin-bottom: 1rem;
      }
      .mapsContainer{
          width: 40rem;
          height: 20rem;
      }
  
      .mapEndereco{
          margin-top: 0.55rem;
          font-size: 0.75rem;
      }
  
    .formContainer div{
        
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: wrap;
    }

    
    
    .formContainer{
        margin-top: 41rem;
        margin-left: -40rem;
        width: 95rem;
        height: 35rem;

    }

     .formContainer h2{
        text-align: center;
       font-size: 1.rem;
        align-items: center;

    }
    .formContainer label{
      display: flex;
      font-size: 1rem;
      justify-content: center;
    }

    .formContainer div input, 
    .formContainer div select{
       display: flex;
       flex-wrap: wrap;
       width: 30rem;
       height: 2.1rem;
    }

    .formContainer div textarea{
        margin-top: 0.25rem;
        width: 28rem;
        height: 10rem;
    }
    .formContainer button {
        width: 19rem;
        height: 3.50rem;
        margin: 0.55rem;

    }

    
    .secondText{
        margin-top: 40rem;
         font-size: 1.5rem;
     }

}
