.cardContainer {
    width: 19rem;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem auto;
    cursor: pointer;
}

.gallery {
    position: relative;
    width: 100%;
    display: flex;
}

.galleryController {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.galleryController div:first-child {
    position: relative;
    left: -40%;
    top: 45%;
}

.galleryController div:last-child {
    position: relative;
    right: -40%;
    bottom: 45%;
}

.bigPicture {
    position: relative;
    height: 200px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 1;
    animation: appears 1s ease normal;
    user-select: none;
    transition: all 2s ease;
}

@keyframes appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gallery:hover .galleryController {
    visibility: visible;
}

.cardContainer div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .3rem;
}

.cardContainer .cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardContainer .cardTitle p:last-of-type {
    margin-right: .5rem;
    display: flex;
}

.cardContainer .cardTitle p:first-of-type {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

.cardContainer .cardOverView p:nth-of-type(2) {
    font-size: 14px;
}

.cardContainer .cardOverView p:nth-of-type(4) {
    font-size: 14px;
}

.cardContainer .cardOverView p:nth-of-type(4) span {
    font-size: 22px;
    font-weight: bold;
}