.cardContainer {
    width: 19rem;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem auto;
    cursor: pointer;
}

.cardContainer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    user-select: none;
}

.cardContainer div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-top: .3rem;
}

.cardContainer .cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardContainer .cardTitle p:last-of-type {
    margin-right: .5rem;
    display: flex;
}

.cardContainer .cardTitle p:first-of-type {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

.cardContainer .cardOverView p:nth-of-type(2) {
    font-size: 14px;
}

.cardContainer .cardOverView p:nth-of-type(4) {
    font-size: 14px;
}

.cardContainer .cardOverView p:nth-of-type(4) span {
    font-size: 22px;
    font-weight: bold;
}