.cardContainer {
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
    width: 14rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem auto;
    cursor: pointer;
}

.cardContainer img {

}