

/*Nomeação do Footer*/
.estiloFooter{
  margin-top: 2rem ;
    background-color: white;
    color: rgb(12, 1, 1);
    width: 100%;
    height: 50%;
    position: relative;
}



.textoFinal p{
    font-size: 15px;
    text-align: center;
}

.rodaList{
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.1rem;
}

.rodaList ul{
    list-style: none;
}


.estiloFooter h1{
    display: flex;
    justify-content: flex-start;
    padding-top:2rem ;
    padding-left: 2rem;
    font-size:1.5rem;
    color: black;
    padding-bottom: 1rem;
}

.rodaItem a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 15px;
    padding: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}
.rodaItem li{
    padding: 5px;
}

.socialFinal{
    display: flex;
    text-align: center;
    padding-top:0.4rem;
    padding-left: 8rem;
   
}

.socialItem a{
  padding: 9px;

}

.redeUm a{
    color: black;
    font-size: 18px;
}
.redeDois a{
    color: aqua;
    font-size: 18px;
}




/*diV do paragrafo final*/
.textoFinal{
    color: rgb(8, 8, 8);
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoLink a{
    color: black;
    text-decoration: underline;
}

.textoFinal .textoLink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoLink li{
    list-style-type: none;
    margin: 8px;
}

.textoLink a:hover{
    background-color: aqua;
    transition: 500ms ease-in-out;
}
