.footerContainer{
    margin-top: 2rem ;
    background-color: #f1f1f1;
    color: rgb(12, 1, 1);
    width: 100%;
    height: 50%;
    position: relative;
}

.footerContainer h2{
    padding-top:2rem ;
    padding-left: 2rem;
    font-size:1.5rem;
    color: black;
}

.rodaList{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.rodaItem {
    display: flex;
    list-style: none;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;
}

.rodaItem li{
    padding: 5px;
}

.rodaItem a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 15px;
    padding: 2rem;
    list-style: none;
    padding-bottom: 2rem;
    cursor: pointer;
}

/*diV do paragrafo final*/
.textoFinal{
    color: rgb(8, 8, 8);
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialFinal{
    display: flex;
    text-align: center;
    padding-top:0.4rem;
    padding-left: 8rem;
}

.socialItem a{
    padding: 9px;
}

.redeUm a{
    color: black;
    font-size: 18px;
}
.redeDois a{
    color: aqua;
    font-size: 18px;
}

.textoLink a{
    color: black;
    text-decoration: underline;
}

.textoFinal .textoLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoLink li{
    list-style-type: none;
    margin: 8px;
}

.textoLink a:hover{
    background-color: aqua;
    transition: 500ms ease-in-out;
}

.textoFinal p{
    font-size: 15px;
    text-align: center;
}

@media screen and (min-width: 320px) {

}


