.buttonContainer {
    background-color: #fcfcfc55;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 5px;
    transform: scale(2.5);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonContainer:hover {
    background-color: #ffffffee;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 2px;
    transition: all 300ms ease;
}

@keyframes next {
    0%,100% {
        transform: translateX(0rem) scale(0.5);
    }
    50% {
        transform: translateX(.06rem) scale(0.55);
    }
}

.buttonContainer:hover span {
    animation: next 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.buttonContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
}