.profileContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.userBackground {
    width: 100%;
    height: 60vh;
}

.userBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileContent {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows: 30% auto;
    gap: 1rem;
    grid-template-areas: 
        "a a"
        "b c";
}

.profileHeader {
    grid-area: a;
    position: relative;
    display: flex;
}
/* Bio do usuario */
.profileBio {
    grid-area: b;
    background-color: #e4e4e4;
    padding: 1rem 2rem;
    margin-top: -1.5rem ;
    min-width: 20rem;
    min-height: 21rem;
}
/* Divisão que contem informações de contato */
.profileInfo {
    margin-top: -1.5rem ;
    grid-area: c;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0rem 2rem;
    min-width: 20rem;
    min-height: 22rem;
}

.profileHeader .alignContent {
    display: flex;
    width: 100%;
}

.profileHeader .profilePicture {
    width: 18rem;
    height: 14rem;
    border-radius: 100%;
    border: .4rem solid #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 8px 10px .2rem;
    position: relative;
    top: -4rem;
    z-index: 3;
    object-fit: cover;
}

.userInfo {
    width: 100%;
    margin: 1rem 1.5rem;
}

.userInfo h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.profileRating {
    margin: 1rem 0;
    display: flex;
    gap: 2rem;
}

.profileRating p {
    display: flex;
    align-items: center;
}

.profileRating span {
    font-size: 1.5rem;
}

.userInfo div:first-of-type {
    margin: 1rem 0;
    display: flex;
    width: 100%;
}

.profileBio hr {
    margin: 1rem 0;
}

.profileBio p {
    margin: .5rem 1rem;
}

.profileBio div,
.profileInfo div {
    display: flex;
    justify-content: space-between;
}
/* footer container */
.profileFooter {
    width: 75%;
}
/* divisão que estara o slide de fotos */
.profileFooter div:nth-of-type(1) {
    margin: .5rem auto;
    display: flex;
    overflow: auto;
}

@media screen and (min-width: 320px) {
    .profileContainer {
        height: 310vh;
    }

    .profileContainer .userBackground {
        height: 40vh;
    }
    
    .profileHeader .alignContent {
        flex-direction: column;
        align-items: center;
    }

    .profileContent {
        display: flex;
        flex-direction: column;
    }

    .profileHeader .profilePicture {
        width: 12rem;
        height: 12rem;
    }

    .userInfo {
        text-align: center;
        white-space: nowrap;
        margin: -2rem auto -1rem;
    }

    .userInfo h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .userInfo div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userInfo div div {
        gap: .5rem;
        display: flex;
        flex-direction: column-reverse;
    }

    .profileBio {
        margin: 1rem 0;
        width: 100%;
        padding: 1rem;
    }

    .profileBio p:nth-of-type(2) {
        height: 40vh;
        width: 100%;
        margin: 0;
        overflow: auto;
    }

    .profileInfo {
        padding: 1rem;
    }
    
    .profileInfo p{
        margin: 1rem 0;
    }

    .profileInfo div:nth-child(2){
        overflow: auto;
        gap: .5rem;
    }

    .profileInfo div:nth-child(2) p{
        background-color: #fcfcfc;
        padding: .5rem 1rem;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 10px;
    }

    .profileFooter {
        width: 90%;
        margin: 38rem auto 2rem;
        text-align: center;
    }

    .profileFooter div {
        margin: 0;
        display: flex;
    }

    .profileFooter {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .profileFooter div {
        width: 100%;
        height: 80%;
    }

}

@media screen and (min-width: 420px) {
    .profileFooter {
        width: 90%;
    }

    .profileFooter div {
        height: 60vh;
    }
}

@media screen and (min-width: 580px) {
    .profileContainer .userBackground {
        height: 60vh;
    }

    .profileHeader .profilePicture {
        width: 13rem;
        height: 13rem;
    }

    .profileFooter {
        width: 90%;
        height: 100%;
        text-align: center;
    }

    .profileFooter div {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 720px) {
    .profileContainer {
        width: 100vw;
        height: 100%;
    }
    .profileContainer .userBackground {
        height: 60vh;
    }

    .profileContent {
        width: 90%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 30% auto 30%;
        gap: 1rem;
        grid-template-areas: 
            "a a"
            "b c"
            "d d";
    }

    .profileHeader {
        grid-area: a;
        display: flex;
        margin-bottom: -2rem;
    }
    
    .profileHeader .alignContent {
        flex-direction: row;
    }

    .profileHeader .profilePicture {
        width: 16rem;
        height: 12rem;
    }

    .userInfo {
        text-align: center;
        white-space: nowrap;
        margin-left: 1rem;
    }

    .userInfo h2 {
        font-size: 2rem;
        text-align: start;
    }

    .userInfo div {
        flex-direction: row;
        justify-content: space-between;
    }

    .userInfo div div {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 50%;
    }

    .profileBio {
        margin: 0;
        grid-area: b;
    }

    .profileInfo {
        grid-area: c;
        margin: 0;
    }

    .profileFooter {
        width: 80%;
        height: 100%;
        grid-area: d;
        margin: 0 auto;
    }

    .profileFooter div {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .profileContainer {
        width: 100vw;
    }

    .profileContainer .userBackground {
        height: 60vh;
    }

    .profileContent {
        place-content: center;
        width: 80%;
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-rows: 30% auto;
        gap: 1rem;
        grid-template-areas: 
            "a a"
            "b c",
    }

    .profileHeader {
        grid-area: a;
        display: flex;
    }
    
    .profileHeader .alignContent {
        flex-direction: row;
    }

    .profileHeader .profilePicture {
        width: 15rem;
        height: 12rem;
    }

    .userInfo {
        text-align: center;
        white-space: nowrap;
        margin-left: 1rem;
    }

    .userInfo h2 {
        font-size: 2.3rem;
        text-align: start;
    }

    .userInfo div {
        flex-direction: row;
        justify-content: start;
    }

    .userInfo div div {
        gap: 1rem;
        display: flex;
        flex-direction: row-reverse;
        max-width: 100%;
    }
    
}
