.singInContainer {
    width: 35vw;
    min-height: 28vh;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    gap: 1rem;
    position: relative;
    top: -1rem;
    user-select: none;
    animation: appears 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) normal;
}

.loginContainer {
    width: 30vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    gap: 1rem;
    position: relative;
    top: -1rem;
    user-select: none;
    animation: appears 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) normal;
}

@keyframes appears {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

.formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.formHeader img {
    margin-bottom: .5rem;
    width: 45px;
}

.formHeader span {
    color: #2e9aff;
    white-space: nowrap;
    font-weight: bold;
}

.formMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1rem;
    width: 60%;
}

.formMain input {
    padding: .5rem;
    outline-color: #2e9aff;
    background-color: #fcfcfc;
    border: 1px solid #33333333;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 3px;
    border-radius: 5px;
    color: #333;
    width: 14rem;
}

.formFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formFooter {
    gap: 1rem;
}

.formFooter button {
    width: 100%;
}

.statusSpan {
    animation: appears 1s ease normal;
}

@keyframes appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 320px) {
    .singInContainer {
        width: 2%;
        margin: 0 auto;
    }
    .formHeader p {
        white-space: nowrap;
        font-size: 11px;
    }
    .formFooter span:nth-of-type(2) {
        color: #2e9aff;
        font-size: 13px;
        white-space: nowrap;
        cursor: pointer;
    }
}

@media screen and (min-width: 480px) {
    .formHeader p {
        font-size: 13px;
    }
    .formFooter span:nth-of-type(2) {
        font-size: 14px;
    }
    .singInContainer {
        padding: 0 4rem;
    }
}
