.singInContainer {
    width: 28vw;
    min-height: 30vh;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    gap: 1rem;
    position: relative;
    top: -1rem;
    user-select: none;
    animation: appears 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) normal;
}

.loginContainer {
    width: 28vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    gap: 1rem;
    position: relative;
    top: -1rem;
    user-select: none;
    animation: appears 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) normal;
}

@keyframes appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.formHeader img {
    margin-bottom: .5rem;
    width: 45px;
}

.formHeader p {
    font-size: 13px;
}

.formHeader span {
    color: #2e9aff;
    font-weight: bold;
}

.formMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 60%;
}

.formMain input {
    padding: .5rem;
    outline-color: #2e9aff;
    background-color: #fcfcfc;
    border: 1px solid #33333333;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 3px;
    border-radius: 5px;
    color: #333;
    width: 14rem;
}

.formFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formFooter {
    gap: 1rem;
}

.formFooter button {
    width: 100%;
}

.formFooter span:nth-of-type(2) {
    color: #2e9aff;
    font-size: 14px;
    cursor: pointer;
}

.statusSpan {
    animation: appears 1s ease normal;
}

@keyframes appears {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}