.background {
    width: 100vw;
    height: 35rem;
    background: url('/src/assets/home/rio-beach-day.jpg') center;
    background-position-y: 30%;
    background-size: cover;
    position: relative;
    bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: home 700ms ease normal;
}

@keyframes home {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.arrowAlign {
    background-color: red;
    color: red;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    height: 29rem;
    width: 22rem;
    text-transform: uppercase;
    transform: scale(1.2);
    user-select: none;
}

/* Primeiro paragrafo 'CONHEÇA O'  */
.titleContainer p:nth-of-type(1) {
    font-size: 3.3rem;
    font-weight: 600;
}

/* primeiro SPAN RIO  */
.titleContainer span:nth-of-type(1) {
    font-size: 12.2rem;
    font-weight: bold;
    line-height: 9rem;
}

/* Span 'ROTEIROS' */
.titleContainer span:nth-of-type(2) {
    font-size: 3.9rem;
    font-weight: 600;
}

.creativeContainer {
    position: relative;
    top: 3.5rem;
    opacity: 0;
}

.creativeContainer img {
    filter: drop-shadow(.5rem .3rem .5rem  #000)
}

/* barra de pesquisa */
.searchInputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Seção de Passeios */
.servicesContainer {
    width: 90vw;
    margin: 0 auto;
}

.servicesContainer h3 {
    margin-left: 11%;
    font-weight: lighter;
}

.servicesContainer h3 span {
    font-weight: bold;
}

.servicesSlider {
    width: 85%;
    margin: 0 auto;
    animation: appears 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) normal;
}

@keyframes appears {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.servicesSlider ul {
    position: relative;
    bottom: 21.5rem;
    text-align: right;
}

.servicesSlider ul li {
    transform: scale(2);
}

.servicesColumns {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

/* Area de avaliações dos usuários */
.customerContainer {
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.customerContainer h2 {
    margin-top: 1rem;
}

.customerContent {
    width: 90vw;
    margin-top: 1rem;
}

.customerContainer ul {
    position: relative;
    bottom: 27rem;
}

.singInCreativeContainer {
    width: 80%;
    height: 30rem;
    margin: 0 auto;
    position: relative;
}

.singInCreativeContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(var(--value, 0.6));
    position: absolute;
    z-index: 1;
}

.singInCreativeContainer div {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
}

.singInCreativeContainer h2 {
    font-size: 40px;
    user-select: none;
    margin-left: 2rem;
}

.singInCreativeContainer button {
    width: 32%;
    margin: 1rem 0;
    height: 15%;
    font-size: 22px;
}

@media screen and (min-width: 320px) {
    .background {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 4rem;
    }

    .titleContainer {
        transform: scale(1);
        color: #ffffff99;
        background-color: transparent;
        position: inherit;
    }

    .creativeContainer {
        display: none;
    }

    .singInCreativeContainer {
        width: 100%;
    }

    .singInCreativeContainer div {
        align-items: center;
    }

    .singInCreativeContainer h2 {
        font-size: 24px;
        user-select: none;
        margin: 0;
    }
    
    .singInCreativeContainer button {
        margin: 2rem 0;
        width: 80%;
        height: 15%;
        font-size: 22px;
    }
    .servicesContainer {
        width: 98vw;
    }
    .servicesSlider {
        width: 100%;
    }
    .customerContent {
        width: 98vw;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 580px) {
    .background {
        display: block;
    }
    
    .titleContainer {
        transform: scale(0.6);
        position: relative;
        top: 10%;
        left: -1.5rem;
        color: #fff;
    }

    .singInCreativeContainer button {
        margin: 2rem 0;
        width: 60%;
    }
    .servicesContainer {
        width: 98vw;
    }
    .servicesSlider {
        width: 100%;
    }
}

@media screen and (min-width: 720px) {
    .background {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .titleContainer {
        transform: scale(0.7);
        top: 0;
        left: -1%;
        color: #fff;
    }
    .singInCreativeContainer {
        width: 90%;
    }
    .servicesContainer {
        width: 98vw;
    }
    .servicesSlider {
        width: 100%;
    }
}

@media screen and (min-width: 820px){
    .servicesContainer {
        width: 90vw;
    }
    .servicesSlider {
        width: 90%;
    }
    .customerContent {
        width: 90vw;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 900px){
    .background {
        justify-content: space-between;
    }
    .titleContainer {
        transform: scale(0.7);
        top: -13%;
        left: 2%;
        color: #fff;
    }
    .creativeContainer {
        display: block;
        transform: scale(0.9);
        opacity: 1;
    }

    .singInCreativeContainer {
        width: 80%;
    }

    .singInCreativeContainer h2 {
        font-size: 30px;
    }

    .singInCreativeContainer button {
        margin: 2rem 0;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .titleContainer {
        transform: scale(0.9);
        top: -7%;
        left: 8%;
        color: #fff;
    }
    .creativeContainer {
        transform: scale(1.1);
        position: relative;
        right: 5%;
    }

    .singInCreativeContainer div{
        align-items: flex-start;
    }

    .singInCreativeContainer h2 {
        font-size: 40px;
        user-select: none;
        margin-left: 2rem;
    }
    
    .singInCreativeContainer button {
        width: 40%;
        height: 15%;
        font-size: 22px;
        margin: 1rem 0rem 5rem 2rem;
    }
}


@media screen and (min-width: 1440px) {
    .titleContainer {
        transform: scale(1.05);
        top: -5%;
        left: 9%;
        color: #fff;
    }
    .creativeContainer {
        transform: scale(1.2);
        top: 8%;
    }
}