.background {
    width: 100vw;
    height: 35rem;
    background: url('/src/assets/home/rio-beach-day.jpg') center;
    background-position-y: 30%;
    background-size: cover;
    position: relative;
    bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    height: 29rem;
    width: 22rem;
    text-transform: uppercase;
    transform: scale(1.2);
}

/* Primeiro paragrafo 'CONHEÇA O'  */
.titleContainer p:nth-of-type(1) {
    font-size: 3.3rem;
    font-weight: 600;
}

/* primeiro SPAN RIO  */
.titleContainer span:nth-of-type(1) {
    font-size: 12.2rem;
    font-weight: bold;
    line-height: 9rem;
}

/* Span 'ROTEIROS' */
.titleContainer span:nth-of-type(2) {
    font-size: 3.9rem;
    font-weight: 600;
}

.creativeContainer {
    position: relative;
    top: 3.5rem;
    opacity: 0;
}

.creativeContainer img {
    filter: drop-shadow(.5rem .3rem .5rem  #000)
}

/* barra de pesquisa */
.searchInputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Seção de Passeios */
.servicesContainer {
    width: 90vw;
    margin: 0 auto;
}

.servicesContainer h3 {
    margin-left: 11%;
    font-weight: lighter;
}

.servicesContainer h3 span {
    font-weight: bold;
}

.servicesSlider {
    display: flex;
    overflow: auto;
    gap: 8rem;
    width: 80%;
    background-color: red;
    margin: 0 auto;
    justify-content: space-evenly;
}

.servicesColumns {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

@media screen and (min-width: 320px) {
    .background {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 4rem;
    }
    .titleContainer {
        transform: scale(1);
        color: #ffffff99;
        background-color: transparent;
        position: inherit;
    }
    .creativeContainer {
        display: none;
    }
}

@media screen and (min-width: 580px) {
    .background {
        display: block;
    }
    .titleContainer {
        transform: scale(0.6);
        position: relative;
        top: 10%;
        left: -1.5rem;
        color: #fff;
    }
}

@media screen and (min-width: 720px) {
    .background {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .titleContainer {
        transform: scale(0.7);
        top: 0;
        left: -1%;
        color: #fff;
    }
}

@media screen and (min-width: 900px){
    .background {
        justify-content: space-between;
    }
    .titleContainer {
        transform: scale(0.7);
        top: -13%;
        left: 2%;
        color: #fff;
    }
    .creativeContainer {
        display: block;
        transform: scale(0.9);
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .titleContainer {
        transform: scale(0.9);
        top: -7%;
        left: 8%;
        color: #fff;
    }
    .creativeContainer {
        transform: scale(1.1);
        position: relative;
        right: 5%;
    }
}


@media screen and (min-width: 1440px) {
    .titleContainer {
        transform: scale(1.05);
        top: -5%;
        left: 9%;
        color: #fff;
    }
    .creativeContainer {
        transform: scale(1.2);
        top: 8%;
    }
}