.servConteiner{
    
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
.fundobanner{
    margin-top: -5rem;
    width: 100vw;
    height: 35rem;
    background: url('/src/assets/serviceImg/rioimage.png') center;
    background-position-y: 30%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    height: 29rem;
    width: 25rem;
    text-transform: uppercase;
    transform: scale(1.2);
    user-select: none;
    margin-top: 2rem;
    margin-left: 6rem;
    color: white;
}
.titleContainer p{
    font-size: 3.6rem;
    font-weight: 600;
}
.titleContainer span{
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 9rem;
}
.servContent{
    width: 100%;
    height: 60vh;
    display: flex;
    margin-bottom: -1.9rem;
}
.textoConteudo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.servContent h1{
    margin-top:15rem;
    text-align: right;
    font-size: 3rem;
}
.servContent article{
    margin-left: 0.50rem;
    background: rgb(0, 174, 255);
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.servContent h1,p{
margin-left: 1rem;
}
.servContent p{
    text-align: justify;
    font-size: 18px;
    width: 47%;
    color: black;
    margin-top: 1rem;
}
 .lisingConteudo img{
    display: flex;
    justify-content: space-around;
    top: -16rem;
    left: 43rem;
    position: relative;
    z-index: 0;
    width: 40rem;
    height: 18rem;
    object-fit: cover;
}
.btnGuia{
    margin-top: 2rem;
    margin-left: 1rem;
    background-color:white;
    width: 9rem;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
}
.btnGuia:hover{
    background-color: rgb(0, 174, 255);
}

.servContainer .textoConteudo .lisingConteudo{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.fotografoContainer{
    margin-top: 1rem;
    width: 100%;
    height: 60vh;
    display: flex;
}
.fotoConteudo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.fotoContent{
    text-align: right;
    font-size: 3rem;
}

.fotoConteudo h1{
    margin-top: 16rem;
    text-align: right;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.fotoConteudo h1{
 margin-right: 2rem; 
}

.fotoConteudo p{
    margin-right: 1rem;
    display: flex;
    font-size: 19px;
    width: 47%;
    color: black;
    margin-top: 1rem;
}
.fotoContent{
    margin-top: 2rem;
    right: 1rem;
    background: white;
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.pictureEstilo img{
    display: flex;
    justify-content: flex-start;
    right: 42rem;
    top: -20rem;
    position: relative;
    z-index: 0;
    width:  40rem;
    height: 18rem;
    object-fit: cover;
} 
.btnFoto{
    margin-top: 1rem;
    margin-right: 3rem;
    background-color: rgb(0, 174, 255);
    width: 9rem;
    color:white;
    font-size: 1.3rem;
}
.btnFoto:hover{

    background-color:  rgb(42, 64, 213);
}
