.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;    
    height: 21rem;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 5px .05rem;
    border-radius: 20px;
    position: sticky;
    top: 5rem;
    background-color: #fff;
}

.formContainer h2 {
    color: #333;
    text-align: left;
    width: 92%;
    font-size: 2.3rem;
    position: relative;
    top: -.5rem;
}

.formContainer h2 span {
    font-size: 1rem;
    font-weight: 300;
    color: #333;
}

.formContainer label {
    font-weight: 600;
}

.formContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0rem;
    width: 70%;
    border-radius: 20px;
    border: 1px solid #33333322;
}

.formContainer div select {
    margin-top: .5rem;
    font-size: 16px;
    width: 50%;
    border: none;
    background-color: #fff;
    text-align: center;
}

.formContainer button {
    width: 80%;
    margin: 0 auto 1rem;
}

.reservationDate {
    margin: .5rem;
    color: #333;
}

@media screen and (min-width: 480px) {
    .formContainer {
        width: 20rem;
    }
}