.mobileMenu {
    display: none;
}

.burgerAnimation {
    width: 3rem;
    height: 3rem;  
    z-index: 5; 
    position: absolute; 
    top: .4rem;
}

.menuContainer {
    background-color: rgba(0, 0, 0, 0.800);
    animation: appears 600ms cubic-bezier(0.47, 0, 0.745, 0.715) normal;
    position: absolute;
    z-index: 1000;
    position: fixed;
    top: 4rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
}

.menuContent {
    padding: 2rem 1rem;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuContent a,
.userContent a {
    color: #fff;
}

.menuContent li,
.userContent li  {
    list-style: none;
    margin: 1rem 0;
    font-size: 1.8rem;
}

@keyframes appears {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.userContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.userContent div {
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 1px .1rem;
    border-radius: 50px;
    width: 18%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userPicture {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: .18rem solid #fff;
    object-fit: cover;
    margin-right: .3rem;
}

.notificationIcon {
    transform: scale(2);
    margin-left: 1.3rem;
    color: #333
}

@media screen and (min-width: 320px){
    .burgerAnimation {
        right: 3%; 
    }

    .userContent div {
        margin-top: 2rem;
        width: 8rem;
    }
}

@media screen and (max-width: 720px){
    .mobileMenu {
        display: block;
    }
}