.Mobile-user-greetings-container {
    width: 100%;
    height: 6vh;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 1px .1rem;
    align-items: center;
    animation: mobile-user-appears 1.1s ease normal;
}

@keyframes mobile-user-appears {
    from{
        opacity: 0;        
        transform: translateY(-5rem);
    }
    to {
        opacity: 1;        
        transform: translateY(0rem);
    }
}

.Mobile-user-greetings-container span {
    white-space: nowrap;
    margin-left: 3%;
    font-size: 1.2rem;
    font-weight: 500;
}

.Mobile-user-greetings-container div {
    width: 4rem;
    height: 100%;
    display: flex;
    margin-right: 3%;
    align-items: center;
    justify-content: space-between;
}

.Mobile-user-greetings-container .notifications-icon-mobile-user {
    font-size: 1.3rem;
    color: #333;
}

.Mobile-user-greetings-container img {
    height: 5vh;
    object-fit: cover;
    border-radius: 100%;
}

@media screen and (min-width: 580px) {
    .Mobile-user-greetings-container {
        display: none;
    }
}