.alignContent {
    width: 100vw;
    height: 4rem;
    background-color: #33333320;
}

.navBarContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilização da div do logo e Logo */
.navBarContainer div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.navBarContainer div:first-child span {
    padding: 0 1rem 0 .5rem;
    animation: title 2s ease;
    position: relative;
    z-index: 4;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2ea9ff;
}

/* Animação do Logo */
@keyframes title {
    from {
        transform: translateX(-4.2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0rem);
    }
}

.navBarLogo {
    height: 3rem;
    position: relative;
    z-index: 5;
    animation: rotate 2s ease;
}

@keyframes rotate {
    from {
        transform: rotateZ(-360deg);
        opacity: 0;
    }
    to {
        transform: rotateZ(0deg);
    }
}

/* Listas de Navegação */
.menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.menuContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 20rem;
    list-style: none;
    text-decoration: none;
}

.menuContent a {
    color: #fff;
}

/* Área do usuário */
.userContainer .menuContent {
    white-space: nowrap;
}

.menuContent div {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.userPicture {
    width: 2.5rem;
}

.notificationIcon {
    transform: scale(1.5);
    color: #fff;
}

@media screen and (min-width: 320px){
    .navBarContainer {
        width: 100%;
    }
    .menuContent {
        display: none;
    }
    .navBarContainer div:first-child {
        transform: scale(0.7);
    }
    .navBarContainer div:first-child span {
        display: none;
    }
    .userContainer .menuContent {
        display: none;
    }
}

@media screen and (min-width: 580px){
    .navBarContainer {
        width: 95%;
    }
    .navBarContainer div:first-child {
        transform: scale(0.8);
    }
    .menuContent {
        display: flex;
        font-size: 14px;
        width: 60%;
    }
    .userContainer .menuContent li {
        display: none;
    }
    
}

@media screen and (min-width: 740px){
    .navBarContainer {
        width: 90%;
    }
    .menuContent {
        width: 25rem;
        font-size: 1rem;
    }
    .navBarContainer div:first-child {
        transform: scale(1);
    }
    .navBarContainer div:first-child span {
        display: block;
    }
    .notificationIcon {
        display: block;
    }
    .userContainer .menuContent {
        white-space: nowrap;
        display: flex;
        width: 4.5rem;
    }
    .userContainer .menuContent div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (min-width: 1040px){
    .navBarContainer {
        width: 80%;
    }
    .userContainer .menuContent li {
        display: inline-block;
    }
    .userContainer .menuContent {
        display: flex;
        width: 20rem;
    }
    .userContainer .menuContent div {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }
}