.ErrorPage {
    width: 100%;
    height: 100%;
}

.error-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animated-error {
    animation: appears 400ms ease normal;
}

@keyframes appears {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.error-content .align-text {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    animation: appears 600ms cubic-bezier(0.215, 0.610, 0.355, 1) normal;
}

@keyframes appears {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.align-text h2 {
    font-size: 1.2rem;
    color: #2e9aff;
}

.align-text h2 span {
    color: #108bff;
    font-size: 1.5rem;
}