.cardContainer {
    width: 15rem;
    height: 20rem;
}

.cardPicture img{
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

.alignText p:first-of-type{
    margin-top: .5rem;
    font-weight: 600;
    font-size: 18px;
}

.alignText p:last-of-type{
    margin-top: .5rem;
    font-size: 14px;
}

