.cardContainer {
    width: 18rem;
    height: 20rem;
    border: 1px solid black;
    margin-bottom: 4rem;
}

.cardPicture {
    background-color: #fff;
    width: 100%;
    height: 260px;
}

.alignCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cardPicture img{
    width: 17.85rem;
    height: 20rem;
}
.alignText{
    margin-top: 5rem;
    
}
