.purchases-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 25rem;
}

.header-content {
    position: relative;
    top: -2rem;
}

.main-content {
    height: 20rem;
    width: 30rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.ticket {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 5px .2rem;
    justify-content: space-between;
    padding: .4rem;
    margin: .5rem;
    animation: appears 1s ease normal;
}

@keyframes appears {
    from {
        transform: scale(0.97);
    }
    to {
        transform: scale(1);
    }
}

.ticket:hover {
    transition: all 400ms ease;
    user-select: none;
    cursor: pointer;
}

.ticket img {
    margin: .2rem .2rem .2rem 0;
    width: 20%;
    height: 80px;
}

.ticket-name {
    font-size: 18px;
    position: relative;
    top: .3rem;
    left: 2%;
}

.ticket-info {
    display: flex;
    width: 10%;
    justify-content: space-between;
    gap: .8rem;
    text-align: center;
}

.ticket-info div {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: .3rem;
}

.span-title {
    font-size: 14px;
}

.span-content {
    margin-top: .3rem;
    font-size: 16px;
}

.footer-content {
    margin-top: 1rem;
}

@media screen and (min-width: 320px) {
    .purchases-container {
        width: 310px;
    }

    .main-content {
        max-height: 20rem;
        width: 100%;
    }

    .ticket {
        display: flex;
        margin: .2rem auto;
        width: 100%;
    }

    .ticket-name {
        font-size: 14px;
        position: relative;
        top: .3rem;
        left: 2%;
    }

    .span-title {
        font-size: 10px;
    }
    
    .span-content {
        margin-top: .3rem;
        font-size: 10px;
    }

    .ticket-info div:nth-child(1) {
        display: none;
        flex-direction: column;
        position: relative;
        top: .3rem;
        left: 0;
    }
}
@media screen and (min-width: 480px) {
    .purchases-container {
        width: 450px;
    }

    .main-content {
        max-height: 20rem;
        width: 100%;
    }
}

@media screen and (min-width: 580px) {
    .purchases-container {
        width: 500px;
    }

    .main-content {
        max-height: 20rem;
        width: 100%;
    }

    .ticket-name {
        font-size: 16px;
        top: .3rem;
        left: 3%;
    }
    
    .span-content {
        font-size: 12px;
    }

    .ticket-info div:nth-child(1) {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .ticket-name {
        font-size: 18px;
    }
    
    .span-content {
        font-size: 14px;
    }

    .ticket-info div {
        display: flex;
        margin-left: .3rem;
    }
}

@media screen and (min-width: 1200px) {
    .purchases-container {
        width: 32rem;
    }
    
    .main-content {
        max-height: 20rem;
        width: 95%;
    }

    .span-content {
        font-size: 14px;
    }
    .ticket-info div {
        display: flex;
    }

    .ticket-name {
        left: 5%;
    }
}