body {
    display: flex;
    background-color: #fff; /*testanto NAVBAR background*/
    justify-content: center;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}