body {
    width: 100%;
    display: flex;
    background-color: #fff; /*testanto NAVBAR background*/
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    overflow-x: hidden;
}

@media screen and (max-width: 820px) {
    #directional-carousel-button {
        display: none;
    }
}