/* DIV PRINCIPAL */


.FAQ{
    width: 100%;
    height: 100vh;
   
}
/* DIV FILHA */
.FAQ section{
    width: 100%;
    height: 50vh;
}
/* PRIMEIRA SECTION */
.InfosFaq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.InfosFaq h1{
    font-size: 3em;
    margin-bottom: 50px;
}
.inputSearch{
    width: 35%;
  min-width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.322) 0px 3px 8px;;
}
.inputSearch input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 1em;
}
.inputSearch  button{
    width:55px;
    height: 90%;
    background-color: #2e90ff;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}
.inputSearch button:hover {
    transition: 0.4s;
    background-color: #217be2;
}
.faqBtnContainer {
display: flex;
justify-content: center;
}

.overlay{
 
    height: 100%;
    display: flex;
    padding: 50px 0px;
}

.overlay .InfoOverlay{
    width: 30%;
    }

.overlay .InfoOverlay div h1{
    color: #1C8EE9;
    font-size: 2em;
    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.overlay .InfoOverlay div p{
    width: 80%;
    opacity: 0.9;
}

.overlay .InfoOverlay div h3{
    padding: 20px 0px 0px 100px;
    font-size: 1em;
    font-weight: 400;
    opacity: 0.9;

}

.overlay .QuestionsOverlay{
    width: 60%;
    padding: 50px;
    overflow:auto ;
    min-width: 300px;
}
.overlay .QuestionsOverlay div{
    margin-bottom: 15px;
}


.overlay .QuestionsOverlay::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.overlay .QuestionsOverlay::-webkit-scrollbar
{
  width: 9px;
  background-color: #F5F5F5;
}

.overlay .QuestionsOverlay::-webkit-scrollbar-thumb
{
    width: 5px;
    height: 5px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:  #7cb6e7fe
}

.overlay .QuestionsOverlay .BtnQuestion{
font-size: 1.3em;
color: #1C8EE9;
}
.overlay .QuestionsOverlay .BtnQuestion:hover{
    transform: scale(1.2,1.2);
    transition: 0.4s;
    color: #7ab8eb;
    cursor: pointer;
    }

.overlay .QuestionsOverlay h3{
    opacity: 0.7;
    margin: -10px 0px 40px -15px;
    font-size: 1em;
    min-width: 250px;
}

.overlay .QuestionsOverlay .CardTitulo{
    display: flex;
}

.overlay .QuestionsOverlay .CardTitulo h2{
    font-size: 1.2em;
    width: 80%;
    min-width: 200px;
}

.overlay .QuestionsOverlay p{
   font-size: 0.8em;
}

.Resposta{
max-height: 0;
overflow: hidden;
transition: all 0.5s cubic-bezier(0,1,0,1);
}

 .CrescerResposta{
    padding: 10px;
    height: auto;
    max-height: 99999px;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

/* Responsivo*/

@media screen and (max-width:1280px) {
    .InfosFaq h1{
      
    }
    .faqBtnContainer{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1024px) {
    .InfosFaq{
        height: 40%;
    }
    .InfosFaq h1{
      font-size: 2.9em;
     
    }
    .faqBtnContainer{
        margin-top: -100px;
        flex-wrap: wrap;
    }

    .overlay .InfoOverlay div h1{
        font-size: 1.5em;
      }
    .overlay .InfoOverlay div p{
        font-size: 0.8em;
    }
    .overlay .InfoOverlay div h3{
        font-size: 0.8em;
    }
    
    .overlay .QuestionsOverlay h3{
            font-size: 0.9em;
            width: 80%;
    }
    
}

/* TABLET */

@media screen and (max-width:898px) {
    
      .overlay{
          flex-direction: column;
          align-items: center;
      }
      .InfosFaq h1{
        font-size: 2.5em;
        
      }

      .InfoOverlay h1{
    
        position: relative;
        right: 140px;
        margin: 0;
        top: 20px;
        min-width: 200px;
      }

      .InfoOverlay p, .InfoOverlay h3 {
        display: none;
      }
      .overlay .QuestionsOverlay{
        min-width: 500px;
      }
    .overlay .QuestionsOverlay{

    }
}

@media screen and (max-width:580px) {

    .InfosFaq h1{
      font-size: 2em;
      
    }

    .overlay .QuestionsOverlay{
        min-width:400px;
    }
   
    
      
}

@media screen and (max-width:480px) {
    .InfosFaq h1{
      font-size: 1.8em;
      
    }
    .faqBtnContainer{
        margin-top: -50px;
        flex-wrap: wrap;
    }
    .FAQ{
        height: 160vh;
    }

    .overlay .QuestionsOverlay{
        min-width:350px;
    }
    .overlay .QuestionsOverlay .CardTitulo h2{
      
        font-size: 1em;
    }
   
}
@media screen and (max-width:400px) {
    .InfosFaq h1{
      font-size: 1.3em;
      
    }
   
    .faqBtnContainer{
        margin-top: -100px;
        flex-wrap: wrap;
    }
    .InfoOverlay h1{
    
        position: relative;
        right: 100px;
        margin: 0;
        top: 20px;
        min-width: 200px;
      }

    .overlay .QuestionsOverlay{
        min-width:300px;
       overflow-x: hidden;
       
    }
    .overlay .QuestionsOverlay .CardTitulo h2{
      
        font-size: 1em;
    }  
}
