.FAQ{
    width: 100%;
    height: 100vh;

}
.FAQ section{
    width: 100%;
    height: 50%;
    border: 1px solid red;
}

.InfosFaq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}